@font-face {
  font-family: "TTFirs-Black";
  src: url("/ttfirs-black.woff2") format("woff2"),url("/ttfirs-black.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

.page {
  background: url('/images/bg_pattern5p.png') no-repeat center center fixed;
  background-color:  #211c25;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 1920px;
  min-width: 280px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
}

@media screen and (max-width: 375px) {
  .page  {
    max-width: 375px;

  }
}

.dusk {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
}

.title {
  text-align: center;
  width: 48%;
  height: 10%;
  margin: 45px auto 0 auto;

}

@media screen and (max-width: 1280px) {
  .title {
    width: 100%;
  }
}

@media screen and (max-width: 1026px) {
  .title {
    width: 80%;
  }
}

@media screen and (max-height: 600px) {
  .title {
    height: 8%;
    margin-left: 200px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    width: 80%;
    height: 5%;
  }
}

@media screen and (max-width: 431px) {
  .title {
    width: 100%;
    height: 5%;
  }
}

@media screen and (max-width: 280px) {
  .title {
    width: 80%;
    height: 5%;
  }
}


.title__text {
  background: linear-gradient(0deg, #FFEE58 30%, #FFC330 60%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    font-family: 'TTFirs-Black', Helvetica, sans-serif;
}

@media screen and (max-width: 1280px) {
  .title__text {
    font-size: 50px;
    font-weight: 400;
    line-height: 40px;
  }
}

@media screen and (max-width: 1026px) {
  .title__text {
    font-size: 80px;
    font-weight: 400;
    line-height: 90px;
  }
}

@media screen and (max-height: 600px) {
  .title__text {
    font-size: 45px;
    font-weight: 400;
    line-height: 45px;
  }
}

@media screen and (max-width: 863px) {
  .title__text {
    font-size: 70px;
    line-height: 80px;
    font-weight: 400;
  }
}

@media screen and (max-width: 768px) {
  .title__text {
    font-size: 60px;
    line-height: 80px;
    font-weight: 400;
  }
}


@media screen and (max-width: 540px) {
  .title__text {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
  }
}

@media screen and (max-width: 431px) {
  .title__text {
    font-size: 55px;
    font-weight: 400;
    line-height: 50px;
  }
}

@media screen and (max-width: 412px) {
  .title__text {
    font-size: 50px;
    font-weight: 400;
    line-height: 53px;
  }
}

@media screen and (max-width: 390px) {
  .title__text {
    font-size: 48px;
    line-height: 48px;
  }
}

@media screen and (max-width: 375px) {
  .title__text {
    font-size: 40px;
    line-height: 45px;
  }
}

@media screen and (max-width: 280px) {
  .title__text {
    font-size: 30px;
    line-height: 30px;
  }
}

.girl {
  z-index: -2;
  min-width: 40%;
  height: 84%;
  position: absolute;
  bottom: 0%;
  left: 33%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1280px) {
  .girl {
    height: 79%;
  }
}

@media screen and (max-width: 1026px) {
  .girl {
    height: 69%;
  }
}


@media screen and (max-height: 600px) {
  .girl {
    height: 85%;
    bottom: 0%;
    left: 19%;
  }
}

@media screen and (max-width: 853px) {
  .girl {
    left: 30%;
  }
}

@media screen and (max-width: 769px) {
  .girl {
    height: 65%;
  }
}

@media screen and (max-width: 430px) {
  .girl {
    width: 577px;
  }
}

@media screen and (max-width: 412px) {
  .girl {
    width: 555px;

  }
}

@media screen and (max-width: 414px) {
  .girl {
    height: 64%;
    width: 555px;
  }
}

@media screen and (max-width: 390px) {
  .girl {
    width: 523px;
    height: 63%;
  }
}

/*s@media screen and (max-width: 375px) {
  .girl {
    width: 395px;
    left: 47%;
    height: 65%;
  }
}*/

@media screen and (max-width: 375px) {
  .girl {
    width: 420px;
  }
}

@media screen and (max-width: 361px) {
  .girl {
    width: 465px;
  }
}

@media screen and (max-width: 280px) {
  .girl {
    width: 378px;
  }
}

.wheel__container {
  position: relative;
  width: 41.4%;
  height: 680px;
  left: 37.3%;
  top: 9%;
  overflow: hidden;
  z-index: 1;
}

@media screen and (max-width: 1366px) {
  .wheel__container {
    top: 13%;
    height: 640px;
  }
}

@media screen and (max-width: 1280px) {
  .wheel__container {
    top: 9%;
    height: 600px;
    width: 50.4%;
    left: 45.3%;
  }
}

@media screen and (max-width: 1024px) {
  .wheel__container {
    top: 30%;
    height: 800px;
    width: 75%;
    left: 30%;
  }
}

@media screen and (max-width: 912px) {
  .wheel__container {
    top: 30%;
    height: 773px;
    width: 75%;
    left: 25%;
  }
}

@media screen and (max-width: 820px) {
  .wheel__container {
    top: 50%;
    height: 525px;
    width: 60%;
  }
}

@media screen and (max-width: 853px) {
  .wheel__container {
    top: 38%;
    height: 600px;
    width: 75%;
  }
}


@media screen and (max-width: 768px) {
  .wheel__container {
    left: 30%;
    top: 35%;
    height: 525px;
    width: 70%;
  }
}


@media screen and (max-width: 540px) {
  .wheel__container {
    top: 36%;
    height: 380px;
    width: 65%;
    left: 35%;
    overflow: hidden;
  }
}


@media screen and (max-width: 431px) {
  .wheel__container {
    top: 48.3%;
    height: 390px;
    width: 80%;
    left: 20%;
  }
}

@media screen and (max-width: 414px) {
  .wheel__container {
    top: 48%;
    height: 360px;
    width: 84%;
    left: 16%;
  }
}

@media screen and (max-width: 412px) {
  .wheel__container {
    top: 53%;
    left: 16%;
    height: 350px;
  }
}

@media screen and (max-width: 391px) {
  .wheel__container {
    height: 330px;
    top: 48%;

  }
}

@media screen and (max-width: 375px) {
  .wheel__container {
    left: 16%;
    height: 295px;
    top: 44%;
  }
}

@media screen and (max-width: 361px) {
  .wheel__container {
    height: 335px;
    top: 45%;
    left: 16%;
  }
}

@media screen and (max-width: 281px) {
  .wheel__container {
    height: 280px;
    top: 48%;
    left: 16%;
  }
}

@media screen and (max-height: 600px) {
  .wheel__container {
    top: 8%;
    height: 450px;
    width: 55%;
    left: 45%;
  }
}

.circle {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  top: 0;
  margin: auto;
}

@media screen and (max-width: 912px) {
  .circle {
    left: 13%;

  }
}

@media screen and (max-width: 769px) {
  .circle {
    left: 8.5%;

  }
}

@media screen and (max-width: 540px) {
  .circle {
    left: 7%;

  }
}

@media screen and (max-width: 430px) {
  .circle {
    left: 13%;

  }
}

@media screen and (max-width: 414px) {
  .circle {
    left: 14%;

  }
}


@media screen and (max-width: 375px) {
  .circle {
    left: 19%;

  }
}

@media screen and (max-width: 360px) {
  .circle {
    left: 15%;

  }
}



.wheel {
  overflow: hidden;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 1%;
  top: 1%;
  z-index: -1;
  animation: 2s spinner ease-in-out infinite;
}

@media screen and (max-width: 912px) {
  .wheel {
    left: 14%;

  }
}

@media screen and (max-width: 769px) {
  .wheel {
    left: 10%;
    top: 0%;

  }
}

@media screen and (max-width: 540px) {
  .wheel {
    left: 8%;
    top: 0%;

  }
}

@media screen and (max-width: 430px) {
  .wheel {
    left: 14%;

  }
}

@media screen and (max-width: 414px) {
  .wheel {
    left: 15%;

  }
}

@media screen and (max-width: 390px) {
  .wheel {
    left: 15%;

  }
}


@media screen and (max-width: 375px) {
  .wheel {
    left: 20%;

  }
}

@media screen and (max-width: 360px) {
  .wheel {
    left: 15%;

  }
}

@media screen and (max-width: 280px) {
  .wheel {
    left: 16%;

  }
}

@keyframes spinner {
    0% {
        transform: rotate(-47deg)
    }

    50% {
        transform: rotate(-39deg)
    }

    100% {
        transform: rotate(-47deg)
    }
}

.wheel-spinner-win1 {
  animation: 5s spin1 ease-in-out 1;
  transform: rotate(-90deg);
}

@keyframes spin1 {
  0% {
      transform: rotate(1300deg)
  }

}

.wheel-spinner-win2  {
  animation: 5s spin2 ease-in-out 1;
  transform: rotate(-0deg);
}

@keyframes spin2 {
  0% {
      transform: rotate(1600deg)
  }

}

.wheel-spinner-win3  {
  animation: 5s spin3 ease-in-out 1;
  transform: rotate(-310deg);
}

@keyframes spin3 {
  0% {
      transform: rotate(1900deg)
  }

}

.spin-button {
  border-radius: 50%;
  background-image: url(./images/Group\ 5\ 1.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #360A29;
  position: absolute;
  width: 150px;
  height: 150px;
  left: 37%;
  top: 39%;
  z-index: 100;
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 1701px) {
  .spin-button {
    left: 40%;
    top: 39%;
  }
}

@media screen and (max-width: 1669px) {
  .spin-button {
    left: 40%;
    top: 40%;
  }
}

@media screen and (max-width: 1584px) {
  .spin-button {
    top: 38%;
  }
}
@media screen and (max-width: 1469px) {
  .spin-button {
    top: 35%;
    width: 140px;
    height: 140px;
  }
}

@media screen and (max-width: 1366px) {
  .spin-button {
    top: 34%;
  }
}

@media screen and (max-width: 1280px) {
  .spin-button {
    width: 150px;
    height: 150px;
    top: 38%;
    left: 36%;
  }
}


@media screen and (max-width: 940px) {
  .spin-button {
    width: 150px;
    height: 150px;
    top: 35%;
    left: 41%;
  }
}


@media screen and (max-width: 1024px) {
  .spin-button {
    width: 150px;
    height: 150px;
    top: 35%;
    left: 40%;
  }
}

@media screen and (max-width: 912px) {
  .spin-button {
    left: 53%;
  }
}

@media screen and (max-height: 600px) {
  .spin-button {
    width: 120px;
    height: 120px;
    left: 31%;
    top: 38%;
  }
}


@media screen and (max-width: 820px) {
  .spin-button {
    width: 110px;
    height: 110px;
    top: 35%;
    left: 40%;
  }
}

@media screen and (max-width: 853px) {
  .spin-button {
    width: 130px;
    height: 130px;
    top: 39%;
    left: 52%;
  }
}

@media screen and (max-width: 768px) {
  .spin-button {
    width: 125px;
    height: 125px;
    top: 38%;
    left: 47%;
  }
}

@media screen and (max-width: 540px) {
  .spin-button {
    width: 85px;
    height: 85px;
    top: 36%;
    left: 46%;
  }
}


@media screen and (max-width: 431px) {
  .spin-button {
    width: 80px;
    height: 80px;
    top: 34%;
    left: 52%;
  }
}

@media screen and (max-width: 414px) {
  .spin-button {
    width: 80px;
    height: 80px;
    top: 38%;
    left: 53%;
  }
}

@media screen and (max-width: 412px) {
  .spin-button {
    width: 85px;
    height: 85px;
    top: 38%;
    left: 53%;
  }
}

@media screen and (max-width: 391px) {
  .spin-button {
    width: 80px;
    height: 80px;
    top: 38%;
    left: 53%;
  }
}

@media screen and (max-width: 375px) {
  .spin-button {
    width: 70px;
    height: 70px;
    top: 38%;
    left: 55%;
  }
}

@media screen and (max-width: 361px) {
  .spin-button {
    width: 76px;
    height: 76px;
    top: 33%;
    left: 54%;
  }
}

@media screen and (max-width: 280px) {
  .spin-button {
    width: 60px;
    height: 60px;
    top: 32%;
    left: 54%;
  }
}

.arrow {
  position: absolute;
  max-width: 12%;
  max-height: 12%;
  left: 44.4%;
  top: 8%;
  z-index: 1;
}

@media screen and (max-width: 1701px) {
  .arrow {
    left: 45%;
  }
}


@media screen and (max-width: 1669px) {
  .arrow {
    left: 46.5%;
  }
}

@media screen and (max-width: 1469px) {
  .arrow {
    top: 7%;
  }
}

@media screen and (max-width: 1280px) {
  .arrow {
   left: 44.2%;
   top: 7.5%;
  }
}

@media screen and (max-width: 1180px) {
  .arrow {
   left: 47%;
  }
}

@media screen and (max-width: 1026px) {
  .arrow {
    top: 7%;
    width: 9%;
    height: 11%;
  }
}


@media screen and (max-height: 600px) {
  .arrow {
    top: 8%;
    width: 7%;
    height: 12%;
    left: 38%;
  }
}

@media screen and (max-width: 940px) {
  .arrow {
    top: 6%;
    width: 9%;
    height: 11%;
  }
}

@media screen and (max-width: 912px) {
  .arrow {
  left: 60%;
  }
}

@media screen and (max-width: 853px) {
  .arrow {
    top: 8%;
    width: 8%;
    height: 12%;
  }
}

@media screen and (max-width: 821px) {
  .arrow {
    top: 8%;
    width: 8%;
    height: 12%;
  }
}


@media screen and (max-width: 768px) {
  .arrow {
    top: 8%;
    height: 12%;
    left: 55%;
  }
}

@media screen and (max-width: 540px) {
  .arrow {
    top: 7%;
    left: 54%;
  }
}

@media screen and (max-width: 430px) {
  .arrow {
    top: 7.3%;
    width: 8%;
    height: 11%;
    left: 61%;
  }
}

@media screen and (max-width: 414px) {
  .arrow {
    top: 8.3%;
    width: 8%;
    height: 11%;
    left: 61%;
  }
}

@media screen and (max-width: 412px) {
  .arrow {
    top: 8%;
    left: 61%;
    width: 8%;
    height: 11%;
  }
}

@media screen and (max-width: 390px) {
  .arrow {
    left: 61%;

  }
}


@media screen and (max-width: 375px) {
  .arrow {
    left: 63%;
    top: 8.3%;
    width: 8%;
    height: 11%;
  }
}

@media screen and (max-width: 360px) {
  .arrow {
    left: 63%;
    top: 7%;

  }
}

@media screen and (max-width: 360px) {
  .arrow {
    top: 6%;

  }
}


.popup {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0,0,0,1);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

.popup__container {
  position: relative;
  box-sizing: border-box;
  width: 28.5%;
  height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  /*border-radius: 10px;*/
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  align-items: center;
  /*background: url(./images/Pngtreespark\ border\ flame\ burning_8628868\ 2.png);*/
  background: url(./images/bg_pattern5p.png);
  background-color: #211c25;
  background-size: cover;
  z-index: -4;
}

@media screen and (max-width: 1590px) {
  .popup__container {
    width: 30%;
  }
}

@media screen and (max-width: 1480px) {
  .popup__container {
    width: 33%;
  }
}


@media screen and (max-width: 1312px) {
  .popup__container {
    width: 37%;
  }
}

@media screen and (max-width: 1280px) {
  .popup__container {
    width: 100%;
    height: 100%;
  }
}

.popup__submit-button {
  font-family: 'TTTFirs-ExtraBold', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 30px;
  text-align: center;
  width: 73%;
  height: 9%;
  transition: 0.5s;
  border-style: none;
  border-radius: 2px;
  /*background-color: #830764;*/
  background: linear-gradient(0deg, #85069E 20%, #ED8BFF 100%);
  cursor: pointer;
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 5%;
  opacity: 0.8;
}

@media screen and (max-width: 1280px) {
  .popup__submit-button {
    margin-left: 530px;
    width: 40%;
    bottom: 12%;
  }
}

@media screen and (max-width: 1024px) {
  .popup__submit-button {
    width: 53%;
    margin: auto;
    font-size: 35px;
    bottom: 7%;
  }
}

@media screen and (max-width: 912px) {
  .popup__submit-button {
    width: 58%;
    font-size: 35px;
    bottom: 9%;
    margin: auto;
  }
}

@media screen and (max-width: 540px) {
  .popup__submit-button {
    font-size: 28px;
    margin: auto;
  }
}

@media screen and (max-width: 430px) {
  .popup__submit-button {
    height: 10%;
    width: 75%;
    margin: auto;
  }
}

@media screen and (max-width: 360px) {
  .popup__submit-button {
    font-size: 25px;
  }
}


@media screen and (max-width: 280px) {
  .popup__submit-button {
    font-size: 19px;
    margin: auto;
  }
}

@media screen and (max-height: 600px) {
  .popup__submit-button {
    margin-left: 395px;
    width: 40%;
    bottom: 12%;
  }
}

.popup-arrow {
  position: absolute;
  height: 8%;
  width: 8%;
  top: 33%;
  z-index: 2;
  visibility: visible;
}


@media screen and (max-width: 1280px) {
  .popup-arrow {
    height: 7%;
    width: 3%;
  }
}

@media screen and (max-width: 1024px) {
  .popup-arrow {
    height: 7%;
    width: 6%;
  }
}

@media screen and (max-width: 912px) {
  .popup-arrow {
    height: 7%;
    width: 7%;
  }
}

@media screen and (max-width: 820px) {
  .popup-arrow {
    height: 7%;
    width: 7%;
  }
}

@media screen and (max-width: 768px) {
  .popup-arrow {
    height: 8%;
    width: 7%;
  }
}

@media screen and (max-width: 430px) {
  .popup-arrow {
    height: 7%;
    width: 9%;
  }
}

@media screen and (max-width: 375px) {
  .popup-arrow {
    height: 6%;
    width: 9%;
  }
}

@media screen and (max-height: 600px) {
  .popup-arrow {
    height: 7%;
    width: 3%;
  }
}

.popup-arrow-hidden {
  visibility: hidden;
}


/*.popup-image {
  height: 100%;
  width: 100%;
}*/

.popup-circle {
  position: absolute;
  height: 50%;
  width: 50;
  top: 32%;
  z-index: 1;
  visibility: visible;
}

.popup-circle-hidden {
  visibility: hidden;
}

@media screen and (max-width: 430px) {
  .popup-circle {
    width: 100%;
    height: 45%;
  }
}

@media screen and (max-width: 414px) {
  .popup-circle {
    height: 45%;
  }
}

@media screen and (max-width: 412px) {
  .popup-circle {
    height: 43%;
  }
}

@media screen and (max-width: 375px) {
  .popup-circle {
    width: 88%;
    height: 47%;
  }
}

@media screen and (max-width: 280px) {
  .popup-circle {
    height: 38%;

  }
}

.popup-wheel {
  position: absolute;
  height: 58%;
  z-index: -1;
  top: 28%;
  visibility: visible;
}

.popup-wheel-hidden {
  visibility: hidden;
}

@media screen and (max-width: 430px) {
  .popup-wheel {
    width: 120%;
    height: 55%;
  }
}

@media screen and (max-width: 412px) {
  .popup-wheel {
    width: 120%;
    height: 53%;
  }
}

@media screen and (max-width: 375px) {
  .popup-wheel {
    width: 114%;
    height: 54%;
  }
}

@media screen and (max-width: 280px) {
  .popup-wheel {
    height: 47%;
  }
}

.popup-title {
  text-align: center;
  margin: 20px auto;
}

.popup-title-text {
    background: linear-gradient(0deg, #85069E 20%, #ED8BFF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
    font-weight: 600;
    line-height: 30px;
    font-family: 'TTFirs-ExtraBold', Helvetica, sans-serif;
    margin: 0;
    padding: 5px;
}

@media screen and (max-width: 1280px) {
  .popup-title-text {
    margin-top: 50px;
    margin-left: 500px;
    font-size: 55px;
    line-height: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .popup-title-text {
    font-size: 65px;
    line-height: 50px;
    margin: auto;
  }
}

@media screen and (max-width: 912px) {
  .popup-title-text {
    font-size: 60px;
    line-height: 50px;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .popup-title-text {
    font-size: 55px;
    line-height: 48px;
    margin: auto;
  }
}



@media screen and (max-width: 540px) {
  .popup-title-text {
    font-size: 40px;
    line-height: 40px;
    margin: auto;
  }
}

@media screen and (max-width: 430px) {
  .popup-title-text {
    font-size: 35px;
    line-height: 35px;
    margin: auto;
  }
}

@media screen and (max-width: 375px) {
  .popup-title-text {
    font-size: 29px;
    line-height: 25px;
    margin: auto;
  }
}

@media screen and (max-width: 280px) {
  .popup-title-text {
    font-size: 25px;
    line-height: 30px;
    margin: auto;
  }
}

@media screen and (max-height: 600px) {
  .popup-title-text {
    margin-left: 350px;
    font-size: 45px;
    line-height: 45px;
  }
}

.popup-title-sub {
  background: linear-gradient(0deg, #85069E 20%, #ED8BFF 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 38px;
  font-weight: 600;
  line-height: 30px;
  font-family: 'TTFirs-ExtraBold', Helvetica, sans-serif;
  margin: 0;
  padding: 5px;
}

@media screen and (max-width: 1280px) {
  .popup-title-sub {
    margin-left: 500px;
    font-size: 55px;
    line-height: 55px;
  }
}

@media screen and (max-width: 1024px) {
  .popup-title-sub {
    margin: auto;
  }
}

@media screen and (max-width: 912px) {
  .popup-title-sub {
    font-size: 60px;
    line-height: 50px;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .popup-title-sub {
    font-size: 55px;
    line-height: 48px;
    margin: auto;
  }
}


@media screen and (max-width: 540px) {
  .popup-title-sub {
    font-size: 40px;
    line-height: 40px;
    margin: auto;
  }
}


@media screen and (max-width: 430px) {
  .popup-title-sub {
    font-size: 35px;
    line-height: 35px;
    margin: auto;
  }
}

@media screen and (max-width: 375px) {
  .popup-title-sub {
    font-size: 29px;
    line-height: 30px;
    margin: auto;
  }
}

@media screen and (max-width: 280px) {
  .popup-title-sub {
    font-size: 25px;
    line-height: 30px;
    margin: auto;
  }
}

@media screen and (max-height: 600px) {
  .popup-title-sub {
    margin-left: 350px;
    font-size: 45px;
  }
}


.popup-text {
  background: white;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    font-family: 'TTFirs-ExtraBold', Helvetica, sans-serif;
    margin: auto;
}

@media screen and (max-width: 1280px) {
  .popup-text {
    margin-left: 500px;
    font-size: 45px;
    line-height: 55px;
  }
}

@media screen and (max-width: 1024px) {
  .popup-text {
    font-size: 40px;
    line-height: 50px;
    margin: auto;
  }
}


@media screen and (max-width: 912px) {
  .popup-text {
    font-size: 50px;
    line-height: 55px;
    margin: auto;
  }
}

@media screen and (max-width: 853px) {
  .popup-text {
    font-size: 40px;
    line-height: 55px;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .popup-text {
    font-size: 38px;
    line-height: 38px;
    margin: auto;
  }
}

@media screen and (max-width: 540px) {
  .popup-text {
    font-size: 25px;
    line-height: 30px;
    margin: auto;
  }
}

@media screen and (max-width: 430px) {
  .popup-text {
    font-size: 27px;
    line-height: 31px;
    margin: auto;
  }
}

@media screen and (max-width: 412px) {
  .popup-text {
    font-size: 31px;
    line-height: 33px;
    margin: auto;
  }
}

@media screen and (max-width: 390px) {
  .popup-text {
    font-size: 25px;
    line-height: 32px;
    margin: auto;
  }
}

@media screen and (max-width: 375px) {
  .popup-text {
    font-size: 25px;
    line-height: 30px;
    margin: auto;
  }
}

@media screen and (max-width: 280px) {
  .popup-text {
    font-size: 20px;
    line-height: 25px;
    margin: auto;
  }
}

@media screen and (max-height: 600px) {
  .popup-text {
    margin-left: 350px;
    font-size: 35px;
    line-height: 45px;
  }
}

.popup-girl {
  z-index: -2;
  width: 115%;
  height: 75%;
  position: absolute;
  bottom: 0%;
  right: 0;
  visibility: visible;
}

@media screen and (max-width: 1280px) {
  .popup-girl {
    width: 60%;
    height: 100%;
    right: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .popup-girl {
    width: 100%;
    height: 79%;
    right: 0;
  }
}

@media screen and (max-width: 912px) {
  .popup-girl {
    width: 110%;
    height: 80%;
  }
}


@media screen and (max-width: 821px) {
  .popup-girl {
    width: 110%;
    height: 70%;

  }
}

@media screen and (max-width: 853px) {
  .popup-girl {
    width: 105%;
    height: 75%;

  }
}


@media screen and (max-width: 768px) {
  .popup-girl {
    width: 103%;
    height: 80%;

  }
}


@media screen and (max-width: 540px) {
  .popup-girl {
    height: 75%;
  }
}

@media screen and (max-width: 430px) {
  .popup-girl {
    width: 133%;
    height: 68%;

  }
}


@media screen and (max-width: 414px) {
  .popup-girl {
    width: 135%;
    height: 69%;
  }
}

@media screen and (max-width: 412px) {
  .popup-girl {
    width: 137%;
    height: 69%;
  }
}

@media screen and (max-width: 375px) {
  .popup-girl {
    width: 115%;
    height: 70%;
  }
}

@media screen and (max-width: 360px) {
  .popup-girl {
    width: 120%;
    height: 68%;
  }
}

@media screen and (max-width: 280px) {
  .popup-girl {
    width: 150%;
    height: 68%;
    right: -10%;
  }
}

@media screen and (max-height: 600px) {
  .popup-girl {
    width: 60%;
    height: 100%;
    right: 50%;
  }
}

.popup-girl-visible {
 visibility: visible;
}

