@font-face {
  font-family: "TTFirs-Black";
  src: url("/ttfirs-black.woff2") format("woff2"),url("/ttfirs-black.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

.page {
  background: url('/images/futuristic-casino-architecture\ 1.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 1920px;
  min-width: 320px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  position: relative;
  flex-direction: column;
}

.title {
  text-align: center;
  width: 48%;
  height: 10%;
  margin: 45px auto;
}

@media screen and (max-width: 1026px) {
  .title {
    width: 60%;
  }
}

@media screen and (max-width: 431px) {
  .title {
    width: 100%;
    height: 5%;
    margin-bottom: 0;
  }
}


.title__text {
  background: linear-gradient(0deg, #FFEE58 30%, #FFC330 60%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    font-family: 'TTFirs-Black', Helvetica, sans-serif;
}

@media screen and (max-width: 1026px) {
  .title__text {
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
  }
}

@media screen and (max-width: 431px) {
  .title__text {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
  }
}

.girl {
  z-index: -2;
  min-width: 40%;
  height: 84%;
  position: absolute;
  bottom: 0%;
  left: 33%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1280px) {
  .girl {
    height: 79%;
  }
}

@media screen and (max-width: 1026px) {
  .girl {
    height: 69%;
  }
}

@media screen and (max-width: 769px) {
  .girl {
    height: 65%;
  }
}

@media screen and (max-width: 431px) {
  .girl {
    width: 475px;
    left: 45%;
    height: 75%;
  }
}

@media screen and (max-width: 391px) {
  .girl {
    width: 430px;
    left: 45%;
    height: 75%;
  }
}

@media screen and (max-width: 361px) {
  .girl {
    width: 396px;
    left: 45%;
    height: 75%;
  }
}

.circle {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  top: 0;
  margin: auto;
}

.wheel__container {
  position: relative;
  width: 41.4%;
  height: 680px;
  left: 37.3%;
  top: 9%;
  overflow: hidden;
  z-index: -1;
}

@media screen and (max-width: 1366px) {
  .wheel__container {
    top: 13%;
    height: 640px;
  }
}

@media screen and (max-width: 1280px) {
  .wheel__container {
    top: 18%;
    height: 500px;
  }
}

@media screen and (max-width: 1026px) {
  .wheel__container {
    top: 22%;
    height: 495px;
  }
}

@media screen and (max-width: 769px) {
  .wheel__container {
    top: 30%;
    height: 525px;
    width: 55%;
  }
}

@media screen and (max-width: 431px) {
  .wheel__container {
    top: 47.3%;
    height: 400px;
    width: 80%;
    left: 7%;
  }
}

@media screen and (max-width: 391px) {
  .wheel__container {
    height: 350px;
  }
}

@media screen and (max-width: 361px) {
  .wheel__container {
    height: 337px;
  }
}



.wheel {
  overflow: hidden;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 1%;
  top: 1%;
  z-index: -1;
  animation: 2s spinner ease-in-out infinite;
}

.rotating {
  transition: all 10s;
  transition-timing-function: ease-in-out;
}

@keyframes spinner {
    0% {
        transform: rotate(-47deg)
    }

    50% {
        transform: rotate(-39deg)
    }

    100% {
        transform: rotate(-47deg)
    }
}

.button {
  position: absolute;
  max-width: 15%;
  max-height: 15%;
  transform: translateX(-50%);
  left: 55.4%;
  top: 55%;
  z-index: 2;
}

.spin-button {
  border-radius: 50%;
  background-image: url(./images/Group\ 5\ 1.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  /*width: 22%;
  height: 25%;*/
  width: 150px;
  height: 150px;
  left: 35%;
  top: 39%;
  z-index: 6;
  cursor: pointer;
}

@media screen and (max-width: 1669px) {
  .spin-button {
    left: 40%;
    top: 41%;
  }
}

@media screen and (max-width: 1584px) {
  .spin-button {
    top: 38%;
  }
}
@media screen and (max-width: 1469px) {
  .spin-button {
    top: 35%;
    width: 140px;
    height: 140px;
  }
}

@media screen and (max-width: 1366px) {
  .spin-button {
    top: 34%;
  }
}

@media screen and (max-width: 1280px) {
  .spin-button {
    width: 120px;
    height: 120px;
    top: 38%;
    left: 38%;
  }
}

@media screen and (max-width: 1026px) {
  .spin-button {
    width: 98px;
    height: 98px;
    top: 33%;
    left: 41%;
  }
}
@media screen and (max-width: 940px) {
  .spin-button {
    width: 85px;
    height: 85px;
    top: 32%;
    left: 41%;
  }
}

@media screen and (max-width: 880px) {
  .spin-button {
    width: 80px;
    height: 80px;
    top: 30%;
    left: 41%;
  }
}

@media screen and (max-width: 768px) {
  .spin-button {
    width: 100px;
    height: 100px;
    top: 32%;
    left: 41%;
  }
}


@media screen and (max-width: 431px) {
  .spin-button {
    width: 80px;
    height: 80px;
    top: 32%;
    left: 41%;
  }
}

@media screen and (max-width: 391px) {
  .spin-button {
    width: 80px;
    height: 80px;
    top: 33%;
    left: 39%;
  }
}

@media screen and (max-width: 361px) {
  .spin-button {
    width: 78px;
    height: 78px;
    top: 32%;
    left: 39%;
  }
}

.arrow {
  position: absolute;
  max-width: 12%;
  max-height: 12%;
  left: 40.4%;
  top: 8%;
  z-index: 1;
}


@media screen and (max-width: 1669px) {
  .arrow {
    left: 46%;
  }
}

@media screen and (max-width: 1469px) {
  .arrow {
    top: 7%;
  }
}

@media screen and (max-width: 1026px) {
  .arrow {
    top: 7%;
    width: 9%;
    height: 11%;
  }
}

@media screen and (max-width: 940px) {
  .arrow {
    top: 6%;
    width: 9%;
    height: 11%;
  }
}

.fire {
  position: absolute;
  width: 95%;
  max-height: 80%;
  transform: translateX(-50%);
  z-index: -4;
  left: 48%;
  bottom: 0;
  opacity: 0.7;
}

.burning {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  z-index: 2;
  left: 57%;
  bottom: 0;
}

@media screen and (max-width: 1669px) {
  .burning {
    left: 65%;
  }
}

@media screen and (max-width: 1469px) {
  .burning {
    bottom: 6%;
  }
}

@media screen and (max-width: 1280px) {
  .burning {
    left: 65%;
    width: 90%;
    height: 90%;
    bottom: 7%;
  }
}

@media screen and (max-width: 1280px) {
  .burning {
    left: 65%;
    width: 90%;
    height: 90%;
    bottom: 12%;
  }
}

@media screen and (max-width: 940px) {
  .burning {
    left: 65%;
    width: 90%;
    height: 90%;
    bottom: 17%;
  }
}

@media screen and (max-width: 880px) {
  .burning {
    left: 68%;
    width: 90%;
    height: 90%;
    bottom: 21%;
  }
}

@media screen and (max-width: 769px) {
  .burning {
    left: 68%;
    width: 90%;
    height: 90%;
    bottom: 18%;
  }
}

@media screen and (max-width: 431px) {
  .burning {
    left: 68%;
    width: 90%;
    height: 90%;
    bottom: 12%;
  }
}

.rectangle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
}

.dusk {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
}

.cubeone {
  width: 100%;
  height: 100%;
  animation-name: rotation;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.cubeone__container {
  overflow: hidden;
  position: absolute;
  width: 11%;
  height: 21%;
  top: 14%;
  left: 3%;
}

@media screen and (max-width: 1367px) {
  .cubeone__container {
    width: 8%;
    height: 12%;
  }
}

@media screen and (max-width: 1280px) {
  .cubeone__container {
    width: 9%;
    height: 17%;
  }
}

@media screen and (max-width: 769px) {
  .cubeone__container {
    width: 15%;
    height: 12%;
  }
}


@media screen and (max-width: 431px) {
  .cubeone__container {
    width: 17%;
    height: 11%;
  }
}

.cubetwo {
  width: 100%;
  height: 100%;
  animation-name: rotation;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.cubetwo__container {
  overflow: hidden;
  position: absolute;
  width: 9%;
  height: 16%;
  bottom: 0;
  left: 85%;
}


@media screen and (max-width: 1367px) {
  .cubetwo__container {
  width: 8%;
  height: 14%;
  }
}

@media screen and (max-width: 1280px) {
  .cubetwo__container {
  width: 6.5%;
  height: 12%;
  }
}

@media screen and (max-width: 1026px) {
  .cubetwo__container {
  width: 6%;
  height: 9%;
  }
}

@media screen and (max-width: 769px) {
  .cubetwo__container {
    width: 15%;
    height: 12%;
  }
}

@media screen and (max-width: 431px) {
  .cubetwo__container {
    visibility: hidden;
  }
}

.cubethree {
  width: 100%;
  height: 100%;
  animation-name: rotation;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media screen and (max-width: 431px) {
  .cubethree {
    height: 80%;
  }
}

.cubethree__container {
  overflow: hidden;
  position: absolute;
  width: 13%;
  height: 29%;
  top: 4%;
  right: 0;
}

@media screen and (max-width: 1669px) {
  .cubethree__container {
    width: 12%;
    height: 23%;
  }
}

@media screen and (max-width: 1367px) {
  .cubethree__container {
    width: 10%;
    height: 15%;
  }
}

@media screen and (max-width: 1280px) {
  .cubethree__container {
    width: 8%;
    height: 13%;
  }
}

@media screen and (max-width: 1026px) {
  .cubethree__container {
  width: 7%;
  height: 10%;
  }
}

@media screen and (max-width: 769px) {
  .cubethree__container {
    width: 15%;
    height: 12%;
  }
}

@media screen and (max-width: 431px) {
  .cubethree__container {
    width: 20%;
    height: 15%;
    top: 15%;
    right: 5%;
  }
}


@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

.popup {
  display: flex;
  visibility: visible;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0,0,0,0.9);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

.popup__container {
  position: relative;
  box-sizing: border-box;
  border: solid 10px#FFB800;
  width: 28.5%;
  height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  align-items: center;
  background: url(./images/—Pngtree—spark\ border\ flame\ burning_8628868\ 2.png);
  background-size: cover;
  z-index: -4;
}

@media screen and (max-width: 1590px) {
  .popup__container {
    width: 30%;
  }
}

@media screen and (max-width: 1480px) {
  .popup__container {
    width: 33%;
  }
}


@media screen and (max-width: 1312px) {
  .popup__container {
    width: 37%;
  }
}

@media screen and (max-width: 1312px) {
  .popup__container {
    width: 40%;
  }
}

@media screen and (max-width: 1148px) {
  .popup__container {
    width: 50%;
  }
}

@media screen and (max-width: 890px) {
  .popup__container {
    width: 55%;
  }
}

@media screen and (max-width: 770px) {
  .popup__container {
    width: 60%;
  }
}

@media screen and (max-width: 625px) {
  .popup__container {
    width: 75%;
  }
}

@media screen and (max-width: 430px) {
  .popup__container {
    width: 100%;
  }
}

.popup__submit-button {
  font-family: 'TTTFirs-ExtraBold', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 39.9px;
  text-align: center;
  width: 73%;
  height: 9%;
  transition: 0.5s;
  border-style: none;
  border-radius: 2px;
  /*background-color: #830764;*/
  background: linear-gradient(0deg, #85069E 20%, #ED8BFF 100%);
  cursor: pointer;
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 5%;
}

.popup-arrow {
  position: absolute;
  height: 8%;
  width: 8%;
  top: 33%;
  z-index: 2;
  visibility: visible;
}


/*.popup-image {
  height: 100%;
  width: 100%;
}*/

.popup-circle {
  position: absolute;
  height: 50%;
  width: 50;
  top: 32%;
  z-index: 1;
  visibility: visible;
}

@media screen and (max-width: 430px) {
  .popup-circle {
    width: 100%;
    height: 47%;
  }
}

.popup-wheel {
  position: absolute;
  height: 58%;
  z-index: -1;
  top: 28%;
  visibility: visible;
}

@media screen and (max-width: 430px) {
  .popup-wheel {
    width: 120%;
  }
}

.firework {
  position: absolute;
  left: -60%;
  top: 20%;
  z-index: -3;
  height: 80%;
  width: 110%;
}

.fireworkk {
  position: absolute;
  right: -33%;
  top: 12%;
  z-index: -3;
  width: 80%;
  height: 50%;
  opacity: 0.8;
}

.result {
  margin-top: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  z-index: 5;
}

.popup-title {
  text-align: center;
  margin: 20px auto;
}

.popup-title-text {
    background: linear-gradient(0deg, #85069E 20%, #ED8BFF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
    font-weight: 600;
    line-height: 30px;
    font-family: 'TTFirs-ExtraBold', Helvetica, sans-serif;
    margin: 0;
}

.popup-text {
  background: white;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight: 600;
    line-height: 20px;
    font-family: 'TTFirs-ExtraBold', Helvetica, sans-serif;
}

.popup-cubeone {
  width: 20%;
  height: 20%;
  left: 0;
  animation-name: rotation;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  width: 30%;
  height: 21%;
  top: 0%;
  left: -19%;
}


.popup-cubetwo {
  width: 100%;
  height: 100%;
  animation-name: rotation;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  width: 22%;
  height: 16%;
  bottom: -8%;
  right: -10%;
}


.popup-cubethree {
  width: 100%;
  height: 100%;
  animation-name: rotation;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  width: 30%;
  height: 21%;
  top: 0;
  right: -55%;
}

.popup-girl {
  z-index: -2;
  width: 100%;
  height: 75%;
  position: absolute;
  bottom: 0%;
  right: 0;
  visibility: hidden;
}

